*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --color-principal: #104b28;
  --color-secundario: #166534;
  --color-acento: #22c55e;
  --color-fondo: #f0fdf4;
  --color-texto: #0f172a;
  --color-blanco: #ffffff;
  --color-gris: #e2e8f0;
  --color-hover: #15803d;
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background-color: rgb(207, 207, 207);
}

::-webkit-scrollbar-thumb{
  background-color: var(--color-principal);
  border-radius: 10px;
  height: 70px;
}

::selection{
  background-color: var(--color-acento);
}


.mostrar{
  width: 40px;
  height: 40px;
  border: none;
  font-size: 50px;
  cursor: pointer;
  margin-right: 20px;
  display: none;
  text-align: center;
  background-color: transparent;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

span{
  width: 100%;
  height: 5px;
  background-color: white;
  color: #0f172a;
  position: relative;
  transition: 1s;
}

.mostrar.e #linea1{
  top: 20px;
  transform: rotate(45deg);
  transition: top 0.2s ease-in-out, transform 0.5s ease-in-out;
}

.mostrar.e #linea2{
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.mostrar.e #linea3{
  top: -15px;
  transform: rotate(-45deg);
  transition: top 0.2s ease-in-out, transform 0.5s ease-in-out;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

section{
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*header*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  height: 90px;
  z-index: 1;
  position: fixed;
  transition: 0.5s;
}


#logo{
  width: 180px;
  height: 80%;
  cursor: pointer;
}

nav {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
  transition: 0.5s;
  display: flex;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: var(--color-hover);
  transition: width 0.3s ease;
}

nav a:hover {
  color: var(--color-acento);
  transform: scale(1.2);
  transition: 0.5s;
}

nav a:hover::after {
  width: 100%;
}

.fijo{
  position: fixed;
  background-color: var(--color-principal);
  transition: 0.5s;
}

/*seccion principal*/
#principal{
  background-image: url(fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: white;
  transition: background 0.5s ease-in-out;
}

h1{
  font-size: 50px;
}

#principal p{
  margin-top: 9px;
  font-size: 20px;
}

#content{
  margin-left: 90px;
  width: 60%;
}

#principal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),  /* inicio más claro */
    rgba(0, 0, 0, 0.5),  /* intermedio */
    rgba(0, 0, 0, 1)     /* parte inferior más oscura */
  );
  z-index: -1;
  transition: background 0.5s ease-in-out;
}

/*section 2*/
#section2{
  background: var(--color-principal);
  flex-direction: column;
  color: white;
  padding-bottom: 30px;
  padding-top: 30px;
}

#section2 p{
  width: 70%;
  font-size: large;
  margin-top: 30px;
}

/*section 3*/
#section3{
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}

#section3 p{
  text-align: center;
}

#contenedorPrincipalS3{
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin-top: 90px;
  flex-wrap: wrap;
  width: 100%;
}

#contenedorPrincipalS3 div{
  width: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#tituloS3{
  font-size: 40px;
  color: var(--color-secundario);
  text-align: center;
}

#contenedorPrincipalS3 div h2{
  color: var(--color-secundario);
  text-align: center;
}

/*Section 4 and 5*/
.twin{
  height: 120vh;
}
.twin div, .imgContent{
  width: 50%;
  height: 100%;
}

.twin img{
  width: 100%;
  height: 100%;
}

.twin div, .imgContent{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dafae7;
}

.twin p{
  width: 80%;
}

#section4{
  border-top: solid var(--color-principal) 3px;
}

#section5{
  border-bottom: var(--color-principal) solid 3px
}

.imgContent{
  min-width: 50%;
  height: 100%;
  position: relative;
}

.imgContent::after{
  content: "El sol nos regala su luz cada día, aprovecharla es iluminar el camino hacia un mundo mejor";
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform 1s;
}

#section5 .imgContent::after{
  content: "Cada rayo de sol es una oportunidad para crear un futuro más limpio y esperanzador";
}

.imgContent:hover::after{
  transform: scaleY(1);
}

/*Footer*/
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  width: 100%;
  align-items: center;
  border-top: solid 2px var(--color-principal);
  padding: 20px 20px;
  background-color: var(--color-principal);
  color: white;
}

/*Calculadora*/
#section6{
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
  overflow: hidden;
}

#section6 p{
  margin-bottom: 100px;
  text-align: center;
  width: 70%;
  color: var(--color-texto);
}

#section6 figure{
  width: 700px;
  min-height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
  margin-top: 100px;
}

.graficas{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.externo{
  width: 100px;
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
}

.interno{
  width: 100%;
  transition: height 1s ease-in-out;
  background-color: #104b28;
}

.formulario{
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: solid 1px var(--color-principal);
  background-color: #104b283d;
}

.formulario h2{
  color: var(--color-principal);
  text-align: center;
}

.formulario button{
  height: 40px;
  width: 100px;
  border: 1px solid var(--color-acento);
  cursor: pointer;
  transition: 1s ease-in-out;
  position: relative;
  background-color: transparent;
}

.formulario button::after, .formulario button::before{
  border: 1px solid var(--color-acento);
  content: "";
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  left: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.formulario button:hover{
  background-color: #22c55eef;
}

.formulario button:hover::after{
  transform: translate(-7px, -7px);
}

.formulario button:hover::before{
  transform: translate(7px, 7px);
}

#inputEfecto{
  width: 60%;
  height: 30px;
  border: solid 1px var(--color-secundario);
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
}

#inputEfecto input{
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid var(--color-secundario);
}

.formulario label{
  position: absolute;
  transition: 0.2s ease-in-out;
  margin-left: 10px;
  color: var(--color-principal);
  cursor: pointer;
  text-align: center;
}

.formulario input:focus{
  color: var(--color-acento);
  border: none;
  outline: 2px solid var(--color-acento);
  transition: width none;
}

.formulario input:focus ~ label, 
.formulario input:not(:placeholder-shown) ~ label{
  transform: translateY(-15px);
  background-color: #ffffff;
  font-size: small;
  color: var(--color-acento);
  width: 60px;
}

#section6 p{
  font-size: larger;
  text-align: center;
}

/*Section 7*/
#section7{
  background-color: #dafae7;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-principal);
  border-top: solid;
}

#section8{
  background:
    linear-gradient(50deg, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%),
    url("imagenes/textura-pica.png");
  
  background-size: cover;
  background-position: center;
  height: 50vh;
  border-top: solid var(--color-principal);
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  color: #0f172a;
}

.simulador{
  border: solid var(--color-principal);
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
  align-items: center;
  min-width: 40%;
  flex-wrap: wrap;
}

.simulador input{
  border: none;
  border-bottom: 2px solid var(--color-principal);
  background-color: transparent;
  width: 90%;
  height: 30px;
}

.simulador input:focus{
  outline: none;
  border-bottom: 2px solid var(--color-acento);
}

.contenedorInputs{
  width: 95%;
}

.resultado{
  width: 30%;
}

.resultado p{
  display: none;
  line-height: 27px;
}

.botonSimulador{
  height: 50px;
  width: 120px;
  border-radius: 9px;
  background-color:#15803d;
  transition: .5s;
  border: solid 2px black;
}

.botonSimulador:hover{
  background-color:#15803cc9;
}

/*responsive*/
@media (max-width: 660px){

  /*Section 2*/
  #section2 p{
    width: 90%;
  }

  #section2{
    padding-bottom: 70px;
    padding-top: 70px;
  }

  /*Section 3*/
  #contenedorPrincipalS3{
    flex-direction: column;
  }

  #contenedorPrincipalS3 div{
    width: 90%;
    margin-bottom: 70px;
  }

  /*Section 4 and 5*/
  .twin{
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

  .twin div, .imgContent{
    width: 90%;
  }

  .twin div{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .twin img{
    border-top-left-radius:  20px;
    border-top-right-radius:  20px;
  }

  .imgContent::after{
    border-top-left-radius:  20px;
    border-top-right-radius:  20px;
  }

  #section4{
    flex-direction: column;
    padding-top: 70px;
  }

  #section5{
    flex-direction: column-reverse;
    padding-bottom: 40px;
    margin-top: 70px;
  }

  /*Calculadora*/
  #section6 figure{
    flex-direction: column;
  }


  footer{
    flex-direction: column;
    text-align: center;
  }

  /*Menú dezplegable*/

  .mostrar{
    display: flex;
  }

  .activar{
    display: flex;
  }

  nav{
    background-color: var(--color-principal);
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 60%;
    right: 0;
    top: 0;
    flex-direction: column;
    margin: 0;
    display: none;
    transition: all .5s ease-in-out;
  }

  nav a{
    transition: 1s;
    width: 0%;
  }

  nav a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-top: solid 2px var(--color-blanco);
    border-bottom: solid 2px var(--color-blanco);
    animation: a 0.5s ease-in-out;
  }

  nav a:hover::after {
    width: 0%;
  }

  #inputEfecto{
    width: 80%;
  }

  /*Section8*/
  #section8{
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .resultado{
    width: 95%;
  }

}